.grid {
  display: flex;
  flex-wrap: wrap; }

.grid > * {
  flex: 1 0 2em; }

h2 strong {
  color: blue; }

.roster-header strong::first-letter {
  text-transform: uppercase; }

.roster-legend {
  list-style: none;
  margin: 0;
  padding: 0; }
  .roster-legend li {
    display: inline-block;
    width: 100px;
    padding: 0.75em;
    font-size: 0.875em;
    text-align: center; }
    .roster-legend li:first-child {
      text-align: right;
      width: auto;
      padding-left: 0; }
    .roster-legend li:nth-child(2) {
      border-radius: 6px 0 0 6px; }
    .roster-legend li:last-child {
      border-radius: 0 6px 6px 0; }

.table-wrap {
  overflow-x: scroll; }

.roster-table {
  width: 100%;
  margin-top: 1.5em;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 3em; }
  .roster-table thead th {
    background-color: #f7f7f7;
    border-bottom: 2px solid #ddd;
    padding: 0.75em;
    text-transform: uppercase;
    font-weight: normal; }
    .roster-table thead th:first-child {
      text-align: left; }
    .roster-table thead th.today {
      background-color: yellow; }
    .roster-table thead th small {
      display: block;
      color: #767676;
      white-space: nowrap; }
  .roster-table tbody {
    text-align: left; }
    .roster-table tbody tr {
      transition: all 0.15s ease-out; }
      .roster-table tbody tr:last-child td {
        border-bottom: none; }
  .roster-table td {
    width: 12.5%;
    padding: 0.75em;
    vertical-align: top;
    border-bottom: 1px solid #ddd; }
    .roster-table td:first-child {
      min-width: 160px; }
    .roster-table td h4 {
      margin: 0 0 0.375em 0; }
    .roster-table td > a {
      padding: 0.75em;
      margin: 0.1875em 0;
      min-width: 6em;
      position: relative;
      min-height: 3em;
      height: 100%;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1); }
      .roster-table td > a:hover {
        box-shadow: 0 7px 14px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22); }
      .roster-table td > a time {
        white-space: nowrap;
        margin: 0 0.375em; }
      .roster-table td > a:first-child {
        margin-top: 0;
        border-radius: 6px 6px 0 0; }
      .roster-table td > a:last-child {
        border-radius: 0 0 6px 6px; }
      .roster-table td > a:only-child {
        margin: 0;
        border-radius: 6px; }
      .roster-table td > a.prevDay {
        background-image: linear-gradient(135deg, white 50%, rgba(255, 255, 255, 0) 50%), linear-gradient(-135deg, white 50%, rgba(255, 255, 255, 0) 50%);
        background-position: top center, top center;
        background-size: 0.75rem 0.75rem, 0.75rem 0.75rem;
        background-repeat: repeat-x;
        padding-top: 1.5em; }
      .roster-table td > a.nextDay {
        padding-bottom: 1.5em;
        background-image: linear-gradient(45deg, white 50%, rgba(255, 255, 255, 0) 50%), linear-gradient(-45deg, white 50%, rgba(255, 255, 255, 0) 50%);
        background-position: bottom center, bottom center;
        background-size: 0.75rem 0.75rem, 0.75rem 0.75rem;
        background-repeat: repeat-x; }

.roster-timetable h3 {
  text-align: center;
  border-bottom: 2px solid #ddd;
  padding: 0.75em;
  text-transform: uppercase;
  font-weight: normal; }
  .roster-timetable h3 small {
    display: block; }

.roster-timetable ol {
  list-style: none;
  padding: 0;
  margin: 0; }

.roster-timetable li {
  height: 3em;
  display: flex;
  align-items: center;
  padding: 0.75em;
  border-bottom: 1px solid #eee;
  border-radius: 6px;
  margin: 0 0.375em; }
  .roster-timetable li div {
    text-align: center; }
  .roster-timetable li.empty {
    border: none; }
  .roster-timetable li.block {
    background: #eee;
    height: 18em;
    border-radius: 6px; }

.roster-timetable time {
  white-space: nowrap;
  margin: 0 0.375em; }

.roster-edit div {
  margin-bottom: 0.75em; }

.roster-edit label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.375em; }
  .roster-edit label small {
    font-weight: normal;
    float: right; }

.roster-edit input {
  font-size: 1em;
  font-family: sans-serif;
  padding: 0.75em;
  width: 100%; }

/* For editing modal */
.modal-window {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s; }

.modal-window:target {
  opacity: 1;
  pointer-events: auto; }

.modal-window > div {
  min-width: 320px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1.5em;
  background: #fff;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); }

.modal-close {
  color: #fff;
  padding: 0.75em;
  padding-left: 1.5em;
  background: red;
  border-radius: 0 0 0 2em;
  text-decoration: none;
  position: absolute;
  top: 0;
  right: 0; }
